#a{
  background-image: url(48620596867b5ec1e6c877142fdfe62d.gif);

}

.head{
color: white;
padding: 120;
}

#ping{
  font-family: 'Righteous', cursive;

  font-size: 60px;
  font-style:
}

 #rules{
background-image: url(giphy.gif);
  padding: 90;


 }

  #khelo{
    background-image: url(giphy.gif);
   padding-left: 200;
    padding-top: 150;

  }



#c{

  background-image: url(tumblr_ox1v1v5BHg1tlgv32o1_540.png);
  color: black;
}

#enternum{
  color: A3005C;
padding-top: 60

}

#input{
padding-bottom: 50

}
.pong{
  background-color: A3005C;
  color: white
}

#hfont{
  font-family: 'Satisfy', cursive;


}

#play{
    font-family: 'Satisfy', cursive;

}
#rule{
  font-size: 80px;
  color: A3005C
}
#chalo{
  font-size: 80px;
  color: A3005C
}
#pnt{
  font-size: 20px;
  font-style: italic;
  color:  A3005C
}
#line{
  font-size: 20px;
    font-style: italic;
    color: A3005C
}

#abt{
    font-family: 'Satisfy', cursive;
  font-size: 40px;
    color: A3005C
}
#crt{
color: white
}
#me{
color: white
}
#git{
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  color: A3005C
}
#i{
color: white
}
#two{
  font-family: 'Satisfy', cursive;
font-size: 40px;
  color: A3005C
}
#j{
  color: white

}
